* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff8f0;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #df5200;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: hsl(16, 97%, 77%);
  margin-top: 30px;
}

h3 {
  color: #8b0000;
  margin-top: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


ul, ol {
  margin: 10px 0 20px 20px;
}

li {
  margin-bottom: 8px;
}

a {
  color: #ff4500;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}