body {
  font-family: sans-serif;
}

.cardFundo {
  background-image: url('/images/fundo-colheres.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2); /* Define o nível de escurecimento */
  background-blend-mode: darken;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 800px;
  margin-bottom: 200px;
}

html,
.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.cardTitulo {
  padding-top: 50px;
  color: #592512;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
