body {
  font-family: sans-serif;
  background-image: url('/images/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2); /* Define o nível de escurecimento */
  background-blend-mode: darken;
}

html,
.fullscreen {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav {
  padding: 50px;
  background-color: #592512;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.titulo {
  text-align: center;
}
